@import base.sass
@import blueprint

+blueprint-typography
+blueprint-utilities
+blueprint-grid
+blueprint-debug("/images/grid.png")
+blueprint-interaction
+blueprint-form

.container
  border: #999 solid
  border-width: 0px 1px

@import top_nav

#preview
  min-height: 320px
  div
    height: 100%
    position: relative
#hidden_plugins
  display: none
