.menu.span-9
  %ul
    %li
      %a(href="#split_horizontally") Split Horizontally
    %li
      %a(href="#split_vertically") Split Vertically
    %li
      %a(href="#merge_down") Merge Down
    %li
      %a(href="#merge_up") Merge Up
    %li
      %a(href="#merge_right") Merge Right
    %li
      %a(href="#merge_left") Merge Left
