.span-24.last
  .span-3
    %select
      %option(value='facebook_tab') Facebook Tab
      %option(value='facebook_canvas') Facebook Canvas
      %option(value='microsite') Microsite
  .prepend-5.span-2
    #layout Layout
  .span-2
    #content Content
  .span-2.append-10.last
    #preview Preview
