#top_nav.span-24.last
  .span-5
    %select
      %option(value='facebook_tab') Facebook Tab
      %option(value='facebook_canvas') Facebook Canvas
      %option(value='microsite') Microsite
  .prepend-10.span-2
    %a.layout_button Layout
  .span-2
    %a.content_button Content
  .span-2
    %a.preview_button Preview
  .span-3.last
    %a.publish_button Publish
