.preview
  .span-24.last(style='z-index: 3')
    #header
  .span-6(style='z-index: 2')
  .span-12(style='z-index: 2')
  .span-6.last(style='z-index: 2')
  .span-24.last(style='z-index: 1')
    #footer
