!!! 5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="/stylesheets/screen.css")
    %link(rel="stylesheet" type="text/css" href="/css/ui-lightness/jq.css")
    %link(rel="stylesheet" type="text/css" href="/css/colorpicker.css")
    %link(rel="stylesheet" type="text/css" href="/css/layout.css")
    %script(type="text/javascript" src="/js/jquery.js")
    %script(type="text/javascript" src="/js/jquery-ui.js")
    %script(type="text/javascript" src="/js/jquery.hoverIntent.js")
    %script(type="text/javascript" src="/js/colorpicker.js")
    %script(type="text/javascript" src="/js/underscore.js")
    %script(type="text/javascript" src="/coffeescripts/jquery.blueprint.js")
    %script(type="text/javascript" src="/coffeescripts/plugins.js")
    %script(type="text/javascript" src="/coffeescripts/main.js")
  %body
    .container
      .span-24(style='text-align: center;')
        %h1 Layout creator.
      .span-24.last
        #preview
          .span-6
            .grid
              .picker
                .style
                  Stl
                  = render_partial 'style'
                .plugin
                  Plg
                  = render_partial 'plugin'
                .split
                  Spt
                  = render_partial 'split'
                .code
                  Cod
              .split-v
              .split-h
          .span-12
            .grid
              hello
              .split-v
          .span-6.last
            .grid hello
