%h1 Congrats!
%p 
  You've found the plugin dialog that lets you change 
  settings for any of the plugins in the Template Editor.
%p
  %a.delete_plugin(href="javascript:;") Delete this plugin
%p
  %a.change_plugin(href="javascript:;") Change this plugin
