%h1 Congrats!
%p 
  You've found the plugin dialog that lets you change 
  settings for any of the plugins in the Template Editor.
%p
  Let's pretend that you changed the setting you were hoping
  to change, and you're all done.
%p 
  Just click the "X" aboveto continue with the usability test.
