.signup_plugin
  %form(action="javascript:;")
    %p
      %label First Name
      %input(name='first_name')
    %p
      %label Last Name
      %input(name='last_name')
    %p
      %label Date of Birth
      %input(name='dob')
    %p
      %label Social Security Number
      %input(name='ssn')
