.text_plugin
  %p
    This is an example of a text plugin, and some sample text.
    Nam est erat, pulvinar eu congue id, commodo eget mi.
    Donec gravida neque vitae felis blandit euismod. Cras urna purus, euismod sit amet hendrerit rhoncus, consectetur sit amet diam. Aliquam molestie orci vitae nunc fermentum pretium. Praesent sed tortor in ligula adipiscing facilisis. Pellentesque nec imperdiet metus. Maecenas bibendum dui et lacus tempus eu tincidunt nibh sagittis. 
