.twitter_plugin
  .widget_preview.my_feed{"data-widget-pos" => "my_feed"}
    .screen
    .title
      %a{:href => "http://www.twitter.com/wildfireapp", :target => "_blank"} Follow Us on Twitter!
    .tweet
      .tweet_content
        Social Media Marketing: Measuring Impact For Real [INFOGRAPHIC]
        %a{:href => "http://t.co/pScmELnQ", :rel => "external", :target => "_blank"} http://t.co/pScmELnQ
        via
        %a{:href => "http://twitter.com/cmswire", :rel => "external", :target => "_blank"} @cmswire
      .tweet_date 2012-01-25T21:14:30+00:00
    .tweet
      .tweet_content
        %a{:href => "http://twitter.com/nderscholten", :rel => "external", :target => "_blank"} @nderscholten
        Us too! :D
      .tweet_date 2012-01-25T21:11:34+00:00
    .tweet
      .tweet_content
        %a{:href => "http://twitter.com/HarmsWayChad", :rel => "external", :target => "_blank"} @HarmsWayChad
        Probably Facebook has quantified what they're looking for in the promotion, right?
      .tweet_date 2012-01-25T21:11:22+00:00
    .tweet
      .tweet_content
        Want to be a Wildfire case study? Get your brand in front of 115K+ fans? I'm thinking of adding to our case study...
        %a{:href => "http://t.co/M7vSSjvk", :rel => "external", :target => "_blank"} http://t.co/M7vSSjvk
      .tweet_date 2012-01-25T18:00:55+00:00
    .tweet
      .tweet_content
        WOO!
        %a{:href => "http://twitter.com/KeithFlynn", :rel => "external", :target => "_blank"}> @KeithFlynn
        nn: Got m
        %a{:href => "http://twitter.com/wildfireapp", :rel => "external", :target => "_blank"}> @wildfireapp
        pp login information. I know what I'm doing tonight! :)
        = succeed "\u{201d}" do
          %a{:href => "http://twitter.com/search?q=%23newtoy", :rel => "external", :target => "_blank"} #newtoy
      .tweet_date 2012-01-25T06:04:53+00:00
