.grid
  .picker
    .style
      Stl
      = render_partial 'style'
    .plugin
      Plg
      = render_partial 'plugin'
    .split
      Spt
      = render_partial 'split'
    .code
      Cod
  .split-v
  .split-h
