!!! 5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="/stylesheets/screen.css")
    %link(rel="stylesheet" type="text/css" href="/css/ui-lightness/jq.css")
    %link(rel="stylesheet" type="text/css" href="/css/colorpicker.css")
    %link(rel="stylesheet" type="text/css" href="/css/layout.css")
    %link(rel="stylesheet" type="text/css" href="/stylesheets/templates/panels.css")
    %link(rel="stylesheet" type="text/css" href="/stylesheets/templates/basic.css")
    %link(rel="stylesheet" type="text/css" href="/stylesheets/templates/dueling_videos.css")
    %link(rel="stylesheet" type="text/css" href="/stylesheets/plugins.css")
    %script(type="text/javascript" src="/js/jquery.js")
    %script(type="text/javascript" src="/js/jquery-ui.js")
    %script(type="text/javascript" src="/js/jquery.hoverIntent.js")
    %script(type="text/javascript" src="/js/colorpicker.js")
    %script(type="text/javascript" src="/js/underscore.js")
    %script(type="text/javascript" src="/js/ember.js")
    %script(type="text/javascript" src="/coffeescripts/plugins.js")
    %script(type="text/javascript" src="/coffeescripts/saving.js")
    %script(type="text/javascript" src="/coffeescripts/main.js")
  %body
    .container
      .span-24.last
        %h1 Wildfire Template Tool
      = render_partial 'top_nav'
      #previewer
        #preview
        #layout
        #content
    #hidden_plugins
      = render_partial 'plugins/all'
      #edit_layout
        %p Hi there
      #edit_plugin
        %a.delete_plugin(href="javascript:;") Delete this plugin
        // %a.change_plugin(href="javascript:;") Change this plugin
      #save
        %p Sweet! You've saved your page!
      #publish
        %p Sweet! You've published your page!
