!!! 5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="/stylesheets/screen.css")
    %link(rel="stylesheet" type="text/css" href="/stylesheets/layout.css")
    %link(rel="stylesheet" type="text/css" href="/css/smoothness/jq.css")
    %script(type="text/javascript" src="/js/jquery.js")
    %script(type="text/javascript" src="/js/jquery-ui.js")
    %script(type="text/javascript" src="/js/jquery.hoverIntent.js")
    %script(type="text/javascript" src="/js/underscore.js")
    %script(type="text/javascript" src="/js/ember.js")
    %script(type="text/javascript" src="/coffeescripts/plugin.js")
  %body
    .container
      .span-24.last
        %h1 Wildfire Template Tool
      = render_partial 'top_nav'
      %header.span-24.last
        .box
          Header
      .span-12.left-sidebar
        .box
          Plugin 1
          :plain
            <script type='text/x-handlebars'>
              {{App.firstPlugin.name}}
            </script>
          %a.settings(href='#')='+'
      .span-12.right-sidebar.last
        .box
          Plugin 2
          %a.settings(href='#')='+'
      %footer.span-24.last
        .box
          Footer
    .hidden_dialogs
      .plugin_settings
        :plain
          <script type="text/x-handlebars">
            {{view Ember.TextField valueBinding="App.firstPlugin.name" }}
          </script>
