!!! 5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="/stylesheets/screen.css")
    %link(rel="stylesheet" type="text/css" href="/css/smoothness/jq.css")
    %link(rel="stylesheet" type="text/css" href="/css/colorpicker.css")
    %link(rel="stylesheet" type="text/css" href="/css/layout.css")
    %link(rel="stylesheet" type="text/css" href="/stylesheets/templates/panels.css")
    %link(rel="stylesheet" type="text/css" href="/stylesheets/templates/basic.css")
    %link(rel="stylesheet" type="text/css" href="/stylesheets/templates/dueling_videos.css")
    %link(rel="stylesheet" type="text/css" href="/stylesheets/plugins.css")
    %script(type="text/javascript" src="/js/jquery.js")
    %script(type="text/javascript" src="/js/jquery-ui.js")
    %script(type="text/javascript" src="/js/jquery.hoverIntent.js")
    %script(type="text/javascript" src="/js/colorpicker.js")
    %script(type="text/javascript" src="/js/underscore.js")
    %script(type="text/javascript" src="/js/ember.js")
    %script(type="text/javascript" src="/coffeescripts/plugins.js")
    %script(type="text/javascript" src="/coffeescripts/saving.js")
  %body
    .container
      .span-24.last
        %h1 Wildfire Template Tool
      = render_partial 'top_nav'
      .span-6.sidebar
        .plugin
          #sidebar_tabs
            %ul
              %li
                %a(href="#sidebar_plugin_content") Content
              %li
                %a(href="#sidebar_plugin_settings") Settings
            #sidebar_plugin_content
              %h1 Content
            #sidebar_plugin_settings
              %h1 Settings
        .file_list
          %h2 HTML / Liquid
          %ul.html_liquid
          %h2 CSS
          %ul.css
          %h2 Images
          %ul.images


      .span-18.last
        #previewer
          #preview
          #layout
          #content
    #hidden_plugins
      = render_partial 'plugins/all'
      #edit_layout
        %p Hi there, I didn't load correctly!
      #edit_plugin
        %p Hi there, I didn't load correctly!
      #save
        %p Sweet! You've saved your page!
      #publish
        %p Sweet! You've published your page!
      #change_plugin
        %p
          Hover over a plugin name to to see a description.
          %br
          Click the plugin link to select it.
        = render_partial 'plugin'
