.menu.span-9
  .span-5.list
    %ul
      %li
        %a(href="#video") Video
      %li
        %a(href="#poll") Poll
      %li
        %a(href="#twitter") Twitter
      %li
        %a(href="#rss") RSS Feed
      %li
        %a(href="#youtube") YouTube
      %li
        %a(href="#post_to_wall") Post to Wall
      %li
        %a(href="#send_message") Send a Message
      %li
        %a(href="#signup") Signup Form
      %li
        %a(href="#text") Text
      %li
        %a(href="#image") Image
      %li
        %a(href="#stories") Stories
      %li
        %a(href="#send_message") Send Button
      %li
        %a(href="#rawtext") Rawtext
      %li
        %a(href="#countdown") Countdown
      %li
        %a(href="#gallery") Gallery
      %li
        %a(href="#like") Button
      %li
        %a(href="#activity_stream") Activity Feed
      %li
        %a(href="#recommend") Recommendations
      %li
        %a(href="#like_box") Like Box
      %li
        %a(href="#comments") Comments
      %li
        %a(href="#live_stream") Livestream
  .span-4.last
    .preview
