.menu.span-9
  .span-5.list
    %ul
      %li
        %a(href="#font_color") Font Color
      %li
        %a(href="#font_size") Font Size
      %li
        %a(href="#font_family") Font Family
      %li
        %a(href="#background_color") Background Color
      %li
        %a(href="#background_image") Background Image
  .span-4.last
    .preview
      #colorSelector
