.basic
  .span-24.last
    .header
      .plugin.text.plugin_1
  .span-6
    .left_sidebar
      .plugin.text.plugin_2
      .plugin.image.plugin_3
      .plugin.text.plugin_4
  .span-12
    .main_content
      .plugin.signup.plugin_5
  .span-6.last
    .right_sidebar
      .plugin.twitter.plugin_6
  .span-24.last
    .footer
      .plugin.text.plugin_7
