!!! 5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="/stylesheets/screen.css")
    %link(rel="stylesheet" type="text/css" href="/css/ui-lightness/jq.css")
    %link(rel="stylesheet" type="text/css" href="/css/colorpicker.css")
    %link(rel="stylesheet" type="text/css" href="/css/layout.css")
    %link(rel="stylesheet" type="text/css" href="/stylesheets/templates/basic.css")
    %script(type="text/javascript" src="/js/jquery.js")
    %script(type="text/javascript" src="/js/jquery-ui.js")
    %script(type="text/javascript" src="/js/jquery.hoverIntent.js")
    %script(type="text/javascript" src="/js/colorpicker.js")
    %script(type="text/javascript" src="/js/underscore.js")
    %script(type="text/javascript" src="/js/ember.js")
    %script(type="text/javascript" src="/coffeescripts/jquery.blueprint.js")
    %script(type="text/javascript" src="/coffeescripts/plugins.js")
    %script(type="text/javascript" src="/coffeescripts/main.js")
  %body
    .container
      .span-24.last
        %h1 Wildfire Template Tool
      = render_partial 'top_nav'
      = yield

    = render_partial 'plugins/all'

